{% load static %}  

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>National Security Organs</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
    
  
    <!-- body -->
    <div class="container-fluid mt-3">
        <div class="row">
    
    
            <!-- filter -->
    
            <div class="col-lg-3 mx-auto">
                <div class="list-group">
                
                   
    
                    <a href="{% url 'criminal' %}" class="list-group-item list-group-item-action btn btn-outline-success">All Criminals</a>
    
                    
                    <a href="{% url 'criminal' %}"
                        class="list-group-item list-group-item-action btn btn-outline-success ">Most Wanted Criminals</a>
                
                        <a href="{% url 'criminal' %}"
                        class="list-group-item list-group-item-action btn btn-outline-success ">International Criminals</a>
               
                        
                    <a href="{% url 'criminal' %}"
                    class="list-group-item list-group-item-action btn btn-outline-success ">National Criminals</a>
           
                    
                    <a href="{% url 'criminal' %}"
                        class="list-group-item list-group-item-action btn btn-outline-success ">Terrorists</a>
               
                        
                    <a href="{% url 'criminal' %}"
                    class="list-group-item list-group-item-action btn btn-outline-success ">Psycopaths</a>
           
                   
                       
                   
                </div>
            </div>
    






<div id='products' class="col-lg-9 mx-auto">
    <div class="row mx-auto" >
        
{% for p in criminals %}

        <div class="card mx-auto mb-3" style="width: 18rem;">
            <img class="card-img-top" src="{{p.image.url}}" alt="Card image cap">
            <div class="card-body">
                <p class="card-title">{{p.name}}</p>
                <p class="card-text"><b>{{p.crime}}</b></p>
           
            </div>
            
      
            </div>

            {% endfor %}
            </div>
            </div>

                  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
                  integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
                  crossorigin="anonymous"></script>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
                  integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
                  crossorigin="anonymous"></script>
                <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
                  integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
                  crossorigin="anonymous"></script>
</body>
</html>
